:root {
  --title-font: "Lora", sans-serif;
  --p-font: "Raleway", sans-serif;
  --copy-color: #454545;
  --title-color: #444444;
  --red-button: #a14a27;
  --grey-color: #a5a5a5;
  --grey-color-logo: #f5f5f4;
  --kontakt-color: #232323;
  --footer-color: #292828;
  --gold-color: #bc9d54;
}
html {
  scroll-behavior: smooth;
}
.black {
  background: var(--footer-color);
  background: rgba(0, 0, 0, 0.85);
  /* background: #411f1e; */
  border-bottom: none !important;
}
.black-logo {
  color: var(--kontakt-color);
}

.container {
  max-width: 1200px;
  padding: 0px 40px 0px 40px;
}

/* header */
header {
}
.tgl-switch {
  cursor: pointer;
  z-index: 3000;
}
.tgl-switch .open-nav {
  display: block;
}
.open .tgl-switch .open-nav {
  display: none;
}
.close-nav {
  display: none;
}

.open .close-nav {
  display: block;
  color: #fff;
}

.nav-list {
  background: var(--kontakt-color);
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  transition: all 0.4s ease-in-out;
}
.navigacija {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}
.navigacija li {
  margin-bottom: 45px;
  opacity: 0;
}
.navigacija li a {
  color: #fff;
  text-decoration: none;
  font-family: var(--p-font);
  font-size: 24px;
  font-weight: 200;
  position: relative;
  transition: color 0.5s ease;
}

.navigacija li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.navigacija li:last-child {
  margin-bottom: 0px;
}
.open .nav-list {
  transform: translateY(0);
  opacity: 1;
}

a.nav-active::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.jezik {
  margin-top: 30px;
  margin-bottom: 50px;
  opacity: 0;
}
.jezik .nav-active::after {
  top: 25px;
}
.jezik-item {
  text-decoration: none;
  color: #fff;
  font-family: var(--p-font);
  font-size: 21px;
  font-weight: 200;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
  transition: all 0.5s ease;
}
.jezik-item:hover {
  color: rgba(255, 255, 255, 0.5);
}
.jezik a:last-child {
  margin-right: 0px;
}

.nav-neactive {
  color: rgba(255, 255, 255, 0.5);
}

.nav-kontakt {
  text-align: center;
  margin-bottom: 40px;
  opacity: 0;
}
.nav-kontakt p {
  font-family: var(--p-font);
  font-size: 18px;
  font-weight: 200;
}

.nav-soc {
  opacity: 0;
}

.nav-soc a {
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  color: #474747;
  color: #707070;
  border: 1px solid rgba(255, 255, 255, 0.07);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.nav-soc a:hover {
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}

.open #naslovna {
  animation: fadeDown 0.7s ease-in-out 0.12s forwards;
}
.open #postavka {
  animation: fadeDown 0.7s ease-in-out 0.24s forwards;
}
.open #virtuelna {
  animation: fadeDown 0.7s ease-in-out 0.36s forwards;
}
.open #biografije {
  animation: fadeDown 0.7s ease-in-out 0.48s forwards;
}
.open #onama {
  animation: fadeDown 0.7s ease-in-out 0.6s forwards;
}
.open .jezik {
  animation: fadeDown 0.7s ease-in-out 0.72s forwards;
}
.open .nav-kontakt {
  animation: fadeDown 0.7s ease-in-out 0.84s forwards;
}
.open .nav-soc {
  animation: fadeDown 0.7s ease-in-out 0.96s forwards;
}

/* hero */

.overley {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-item {
  height: 100vh;
}
.carousel-indicators,
.carousel-control-prev,
.carousel-control-next,
.carousel-caption {
  z-index: 1000;
}
.carousel-caption h1 {
  opacity: 0;
  animation: fadeUp 0.8s ease 0.3s forwards;
}

.carousel-caption a {
  opacity: 0;
  animation: fadeDown 0.8s ease 0.7s forwards;
}
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.okvir {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-top: 10px;
}
.carousel-caption h1 {
  font-family: var(--title-font);
  font-size: 68px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-left: -6px;
  margin-bottom: 50px;
}
.btn-cta {
  height: 44px;
  width: 180px;
  border: solid var(--grey-color) 1px;
  color: #fff;
  font-family: var(--p-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3.2px;
  /* margin-left: -3.2px; */
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px) brightness(134%);
  -webkit-backdrop-filter: blur(16px) brightness(134%);
  transition: all 0.5s ease;
}
.btn-cta:hover {
  border: solid var(--red-button) 1px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px) brightness(100%);
  -webkit-backdrop-filter: blur(0px) brightness(100%);
  color: #fff;
}

/* o galeriji */

.o-galeriji {
  margin-top: 80px;
  text-align: center;
}
.o-galeriji .headline {
  font-family: var(--title-font);
  font-size: 17px;
  color: #a5a5a5;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-top: 20px;
}
.o-galeriji .headline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  height: 3px;
  background: var(--red-button);
  background: #a39a7b;
  margin: 0 auto;
}
.o-galeriji .sub-headline {
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 40px;
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  color: #444444;
}

.o-galeriji #crtica {
  width: 950px;
  margin: 0 auto;
  font-family: var(--p-font);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.7px;
  line-height: 27px;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 40px;
}
.o-galeriji #btn-red {
  background: var(--red-button);
  background: #a39a7b;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  /* -webkit-box-shadow: 2px 1px 11px -2px rgba(150, 69, 36, 0.74); */
  /* box-shadow: 2px 1px 11px -2px rgba(150, 69, 36, 0.74); */
  -webkit-box-shadow: 2px 1px 11px -2px #817a61;
  box-shadow: 2px 1px 11px -2px #7c755d;
  backdrop-filter: blur(0px) brightness(100%);
  -webkit-backdrop-filter: blur(0px) brightness(100%);
}
.o-galeriji #btn-red:hover {
  background: #8b856a;
  border: none !important;
}
.tri-slike {
  margin-top: 80px;
  padding-right: 60px;
  padding-bottom: 130px;
}
.tri-slike img {
  position: relative;
  -webkit-box-shadow: -5px 3px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 3px 12px 0px rgba(0, 0, 0, 0.2);
}
.tri-slike #img-1 {
  top: 130px;
  left: 90px;
  z-index: 1000;
}
.tri-slike #img-3 {
  top: 130px;
  right: 40px;
  z-index: 1000;
}

/* prijatelji */
.prijatelji {
  background: var(--grey-color-logo);
  padding: 110px 0px;
}

.logoi img {
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.logoi img:hover {
  opacity: 1;
}

/* kontakt */

.kontakt {
  background: var(--kontakt-color);
  padding: 80px 0px 90px 0px;
}
.kontakt-div {
  text-align: left;
}
.kontakt-div h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 40px;
}
.kontakt-div p {
  font-family: var(--p-font);
  color: var(--grey-color);
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.45px;
}
#radno-vreme p {
  line-height: 40px;
}
#radno-vreme h3 {
  margin-bottom: 32px;
}
#adresa a {
  color: var(--red-button);
  color: #a39a7b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

#adresa img {
  margin-right: 20px;
}

/* footer */

.footer {
  background: var(--footer-color);
  color: #707070;
  padding-top: 15px;
  position: relative;
}
.footer p {
  font-size: 16px;
}
.footer span {
  color: var(--grey-color);
}
.footer img {
  margin-right: 20px;
}

.footer a,
#tel a {
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  color: #474747;
  color: #707070;
  border: 1px solid rgba(255, 255, 255, 0.07);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.footer a:hover,
#tel a:hover {
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
}
.up {
  background: var(--footer-color);
  margin: 0px;
}
.up a {
  position: absolute;
  top: 17px;
  right: 15px;
}
.up a {
  border: none;
}
.up a:hover {
  color: var(--red-button);
  color: #a39a7b;
}

.hero-b,
.hero-g,
.hero-s {
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*BIOGRAFIJE */
.hero-b {
  background-image: url("../img/biografije\ hero.jpg");
}

.biografije,
.onama {
  padding: 64px 0px 120px 0px;
  background: var(--grey-color-logo);
  background-image: url("../img/zene.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.onama {
  padding-bottom: 60px;
}
.biografije h2,
.onama h2 {
  margin-bottom: 50px;
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #444444;
}
.biografije p,
.onama p {
  font-family: var(--p-font);
  font-size: 16px;
  letter-spacing: 0.7px;
  font-weight: 400;
  line-height: 27.2px;
  color: #212121;
}
.mica,
.kuca-katica {
  margin-bottom: 50px;
}

.onama span {
  font-weight: 600;
  line-height: 32px;
}
.on-galerija {
  margin-top: 80px;
}
.on-galerija logos {
  width: 720px;
  height: 480px;
}

.hero-g {
  background-image: url("../img/o-galeriji-hero.jpg");
}
.hero-s {
  background-image: url("../img/stalna-postavka-slika-hero.jpg");
}

/* animacije */

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacityUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* mobilne verzije */

@media (max-width: 767px) {
  .kontakt-div {
    margin-bottom: 40px;
  }
  .kontakt {
    padding-bottom: 10px;
  }
  .navigacija li {
    margin-bottom: 25px;
  }
  .navigacija li a {
    font-size: 18px;
  }

  .jezik {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .jezik-item {
    font-size: 16px;
  }
  .nav-kontakt {
    margin-bottom: 15px;
  }
  .nav-kontakt p {
    font-size: 14px;
  }
  a.nav-active::after {
    top: 25px;
  }

  img.logo {
    width: 165px;
  }
  .hero-b,
  .hero-g,
  .hero-s {
    height: 240px;
  }
  .kontakt-div p {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .footer p {
    font-size: 14px;
  }
  .up a {
    position: absolute;
    top: -35px;
    right: 10px;
  }
  .onama {
    padding-top: 20px;
  }

  .biografije {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .onama p,
  .biografije p {
    font-size: 15px;
    line-height: 24px;
  }
  .biografije h2,
  .onama h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .on-galerija {
    margin-top: 45px;
  }
  .footer .container,
  .biografije .container,
  .onama .container {
    padding: 0px 20px;
  }
  .mica,
  .kuca-katica {
    margin-bottom: 25px;
  }
  .section_sm {
    background: var(--grey-color-logo);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0px 0px 80px 24px;
  }
  .section_sm_1 {
    background-image: url("../img/MAIN-SM-1.jpg");
  }
  .section_sm_2 {
    background-image: url("../img/MAIN-SM-2.jpg");
  }
  .section_sm_3 {
    background-image: url("../img/MAIN-SM-3.jpg");
  }
  .section_sm_1 a {
    opacity: 0;
    animation: fadeDown 0.8s ease 0.7s forwards;
  }
  .section_sm h1 {
    color: #fff;
    font-family: var(--title-font);
    font-size: 32px;
    letter-spacing: 3px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 48px;
    opacity: 0;
    animation: fadeUp 0.8s ease 0.3s forwards;
  }
  .section_sm_1 h1 {
    opacity: 0;
    animation: fadeUp 0.8s ease 0.3s forwards;
  }
}
@media (min-width: 767px) and (max-width: 991.98px) {
  .on-galerija logos {
    width: 350px;
    height: 225px;
  }
  .kontakt-div {
    text-align: center;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 58px;
  }
  .kontakt {
    padding-bottom: 10px;
  }
  .o-galeriji #crtica {
    width: 700px;
  }
  #img-2 {
    width: 290px;
  }
  #img-1 {
    width: 210px;
  }
  #img-3 {
    width: 165px;
  }
  .tri-slike {
    padding-right: 0px;
  }
  .tri-slike #img-1 {
    top: 80px;
  }
  .tri-slike #img-3 {
    top: 80px;
  }
  .navigacija li {
    margin-bottom: 30px;
  }
  .navigacija li a {
    font-size: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 62px;
  }
  .o-galeriji #crtica {
    width: 900px;
  }
  #img-2 {
    width: 370px;
  }
  .tri-slike #img-1 {
    top: 80px;
  }
  .tri-slike #img-3 {
    top: 80px;
  }
  #img-1 {
    width: 270px;
  }
  #img-3 {
    width: 220px;
  }
  .tri-slike {
    padding-right: 0px;
  }
  .navigacija li {
    margin-bottom: 40px;
  }
  .navigacija li a {
    font-size: 21px;
  }
}
